*{

}

body{
      font-family: 'Oswald', sans-serif;
}

.hero-section{

}
.hero-section h1{

}
.hero-section h2{
      
}
.hero-section p{
      
}
.hero-section img{
      width: 200px;
      
}
.half-col{
float: left;

}